.accordion-container {
  display: flex;
  height: 100%;
  align-items:start;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(89, 89, 89);
  padding-top: 40px;
}

.accordion-section {
  flex-shrink: 100;
  order: 2;
  margin-left: 40px;
}

.details-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.details-section {
  order: 1;
  transition: opacity 0.5s linear;
  overflow: hidden;
  background-size: 150% auto, cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  aspect-ratio: 3.5/4 auto;
}

.details-section-desktop{

}

.product_image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Полная ширина родительского контейнера */
  height: 100%; /* Полная высота родительского контейнера */
}

.product_image img{
  max-width: 100%; /* Картинка будет не больше 60% ширины родительского блока */
  max-height: 100%; /* Картинка будет не больше 90% высоты родительского блока */
  width: auto; /* Сохраняет пропорции ширины */
  height: 100%; /* Сохраняет пропорции высоты */
  object-fit: cover; /* Картинка будет вписываться в рамки, сохраняя пропорции */
  z-index: 1;
}


.accordion-header {
  font-weight: 700;
  border-top: 1px solid rgb(209, 209, 209);
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.accordion-header:hover {
  color: black;
}

.accordion-content {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s linear;
}

.accordion-inner-content {
  margin-top: -4px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 155%;
  color: var(--txt-dark-2);
  text-wrap: pretty;
}

.accordion-inner-content strong{
  color: var(--txt-dark-1);
}

.active-header {
  color: black;
  box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,1);
}

.closing{
  height: 0px !important;
  clip: auto;
}

.image_desktop{
  width: 100%;
  height: auto;
  opacity: 1; /* Состояние при загрузке */

}

.image_mobile{
  display: none;
}

.details-section-mobile{
  display: none;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 992px) {
  .accordion-container {
    padding: 0px;
    flex-direction: column; /* Смена направления на вертикальное */
  }

  .accordion-section {
    width: 100%;
    margin-left: 0px;
  }

  .details-section {
    width: 100%; /* Полная ширина для деталей внутри аккордеона */
    order: 0; /* Поменять порядок отображения на мобильных */
    background-color: aqua;
    aspect-ratio: 4/2 auto;
  }
  .image_mobile{
    display: block;
    width: auto;
    height: 100%;
  }
  .image_desktop{
    display: none;
  }
  .details-section-mobile{
    display: block;
  }
}
