.accordion-container {
  display: flex;
}

.accordion-section {
  flex: 1;
}

.details-section {
  width: 400px; /* или любое другое значение для вашей правой части */
  transition: opacity 0.5s ease; /* Анимация для правой части */
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #ccc;
}

.accordion-content {
  overflow: hidden;
}

.accordion-inner-content {
  padding: 10px;
  background: #ffffff;
}

.active-header {
  background: #e0e0e0; /* Цвет активного заголовка */
}
