.footer-wrapper {
    display: flex;
    width: 100%;
    margin: 80px 0px;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.return-home{
    display: flex;
    padding: 24px;
    background-color: var(--bg-dark-2);
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.return-home:hover{
    background-color: var(--bg-dark-3);
}

.footer-btns{
    margin-top: 4px;
    gap: 4px;
    display: flex;
    flex-direction: row;
}

.footer-btns a{
    flex-grow: 4;
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    background-color: var(--bg-dark-2);
    width: auto;
    transition: background-color 0.3s ease;
}

.footer-btns a:hover{
    background-color: var(--bg-dark-3);
}


.btn-linkedin{
    background-color: aquamarine;
    flex-grow: 4;
}

