.header-title {
    line-height: 135%;
    font-weight: 800;
    max-width: 960px;
    text-wrap: balance;
    font-feature-settings: 'ss02' on, 'ss05' on, 'ss06' on, 'ss07' on, 'liga' off, 'clig' off;
}

.header-title.large {
    font-size: 72px;
    font-family: 'Neue Machina Inktrap', sans-serif;
}

.header-title.medium {
    font-size: 40px;
    font-weight: 700;
}

.header-title.small {
    font-size: 16px;
}

.header-description {
    line-height: 155%;
    font-weight: 500;
    text-wrap: balance;
    font-size: 28px;
    max-width: 960px;
}

.header-description.large {
    font-size: 28px;
}

.header-description.medium {
    font-size: 20px;
}

.header-description.small {
    font-size: 12px;
}
