.header-title {
    line-height: 135%;
    font-weight: 800;
    max-width: 960px;
    text-wrap: balance;
}

.header-title.large {
    font-size: clamp(32px, 4vw, 48px);
    font-family: 'Neue Machina Inktrap', sans-serif;
}

.header-title.medium {
    font-size: clamp(32px, 4vw, 40px);
    font-weight: 700;
}

.header-title.small {
    font-size: clamp(28px, 4vw, 32px);
    font-weight: 700;

}

.header-description {
    line-height: 155%;
    font-weight: 500;
    text-wrap: balance;
    font-size: 28px;
    max-width: 960px;
}

.header-description.large {
    font-size: clamp(20px, 2vw, 28px);
}

.header-description.medium {
    font-size: clamp(16px, 2vw, 20px);
}

.header-description.small {
    font-size: clamp(16px, 1.5vw, 20px);
}
