
.page-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.page-header-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.page-header-logo-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    align-items: flex-start;
    gap: 12px;
    /* background-color: aqua; */
}

@media (max-width: 768px) {
  .page-header-logo-wrapper {
    display: none;
  }  
}

.page-header-title {
    line-height: 135%;
    font-weight: 600;
    max-width: 800px;
    text-wrap: balance;
}

.page-header-title.large {
    font-size: clamp(40px, 4vw, 44px);
    /* font-family: 'Neue Machina Inktrap', sans-serif; */
}

.page-header-title.medium {
    font-size: clamp(32px, 4vw, 40px);
    font-weight: 600;
}

.page-header-title.small {
    font-size: clamp(28px, 4vw, 32px);
    font-weight: 600;
}

.page-header-description {
    line-height: 155%;
    font-weight: 500;
    text-wrap: balance;
    font-size: 28px;
    max-width: 960px;
}

.page-header-description.large {
    font-size: clamp(16px, 2vw, 18px);
}

.page-header-description.medium {
    font-size: clamp(14px, 2vw, 18px);
}

.page-header-description.small {
    font-size: clamp(14px, 2vw, 17px);
}
