#root {
  /* max-width: 1360px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.hero{
  display: flex;
  height: 80%;
  align-items:start;
  flex-direction: column;
  justify-content: center;
}

.hero p{
  color: #efefef;
  font-family: ObjectSans;
  font-weight: 500;
  font-size: 72px;
  line-height: 120%;
  width: 900px;
  /* max-width: 950px; */
  font-size: 48px;
  text-align: left;
}
