.hero{
  display: flex;
  height: 90%;
  align-items:start;
  flex-direction: column;
  justify-content: center;
  height: 760px;
  transition: all 0s;
}

.hero p{
  color: #efefef;
  font-family: ObjectSans;
  font-weight: 500;
  font-size: 72px;
  line-height: 120%;
  width: 900px;
  /* max-width: 950px; */
  font-size: 48px;
  text-align: left;
}
