.hero{
  display: flex;
  height: 90%;
  align-items:start;
  flex-direction: column;
  justify-content: center;
  height: 760px;
  transition: all 0s;
}

.hero p{
  color: #b2b2b2;
  font-family: ObjectSans;
  font-weight: 500;
  line-height: 155%;
  max-width: 768px;
  font-size: 28px;
  text-align: left;
}
