@import './typography.css';

html {
  overflow-y:auto;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Inter', sans-serif; 
       @supports (font-variation-settings: normal) {
         :root { font-family: 'Inter var', sans-serif; }
       }


           


  --project-quasar: #22215e;
  --project-quasar-light-1: #2a296f;
  --project-quasar-light-2: #312f78;
  --div-light-1: #A0A0A0;
  --div-dark-1: #4F4F4F;
  --active-tab: #FFFFFF;

  --bg-dark-1: #070707;
  --bg-dark-2: #313133;
  --bg-light-1: #ECF0F4;
  --txt-light-1: #FFFFFF;
  --txt-light-2: #FFFFFF;
  --txt-light-3: #8B8B8F;
  --txt-dark-1: #000000;
  --txt-dark-2: #2F2F36;
  --txt-dark-3: #6E6E73;
}




@media (min-width: 992px) {
  html {
    overflow-y:visible;
  }

}

.txt-light-1{
  color: var(--txt-light-1);
}

.txt-dark-1{
  color: var(--txt-dark-1);
}

.txt-dark-2{
  color: var(--txt-dark-2);
}



a {
  font-weight: 700;
  color: #b7b7b7;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  width: 100%;
  min-width: 360px;
  color: #ffffff;
  background-color: var(--bg-dark-1);
  font-family: ObjectSans;
}

.projects-list{
  background-color: #d7d7d7;
  width: 100%;
}


.row{
  margin: 0px;
}


.pt-20{
  padding-top: 20px;
}
.pb-20{
  padding-bottom: 20px;
}
.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-40{
  padding-top: 40px;
}
.pb-40{
  padding-bottom: 40px;
}
.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-80{
  padding-top: 80px;
}
.pb-80{
  padding-bottom: 80px;
}
.py-80{
  padding-top: 80px;
  padding-bottom: 80px;
}



.mt-20{
  margin-top: 20px;
}
.mb-20{
  margin-bottom: 20px;
}
.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-40{
  margin-top: 40px;
}
.mb-40{
  margin-bottom: 40px;
}
.my-40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-80{
  margin-top: 80px;
}
.mb-80{
  margin-bottom: 80px;
}
.my-80{
  margin-top: 80px;
  margin-bottom: 80px;
}
