@import './typography.css';

html {
  overflow-y:scroll;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Inter', sans-serif; 
       @supports (font-variation-settings: normal) {
         :root { font-family: 'Inter var', sans-serif; }
       }

  --project-quasar: #b7ff58;
}




a {
  font-weight: 700;
  color: #b7b7b7;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  width: 100%;
  min-width: 360px;
  color: rgba(226, 226, 226, 0.87);
  background-color: #1b1b1b;
  font-family: ObjectSans;
}

.projects-list{
  background-color: #d7d7d7;
  width: 100%;
}

.bg-da{
  background-color: #1B1B1B;
}

.row{
  margin: 0px;
}