.top-bar-wrapper {
    transition: all 0.3s ease;
    /* Плавный переход */
    padding: 0 24px;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 85, 85, 0.92);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 16px;
    backdrop-filter: blur(16px);
    transform: translateY(16px);
}

#scroll-indicator {
    will-change: transform;
}

#menu {
    position: fixed;
    top: 16px;
    left: 0;
    right: 0;
    z-index: 20;
    margin: 0 auto;
}

#menu-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.221);
    margin-bottom: 12px;
    display: none;
}

#menu-divider.compact {
    display: block;
}

.menu-dropdown {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    background-color: rgba(181, 181, 181, 0.6);
    padding: 16px 24px;
    border-radius: 0rem 0rem 2rem 2rem;
    margin-top: 48px;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    transition: opacity 0.3s ease, visibility 0.3s ease, backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease;
    box-sizing: border-box;
}

.menu-dropdown.compact {
    top: -48px;
    padding-top: 64px;
    border-radius: 2rem;
}

.menu-dropdown.open {
    opacity: 1;
    visibility: visible;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}

.menu-dropdown.open.compact {
    background-color: rgba(181, 181, 181, 0.6);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin: 0px auto;
    transition: all 0.3s ease;
    border-radius: 0.2rem;
    width: 100%;
    height: 100px;
    background-color: rgba(var(--bg-dark-1), 0.92);
}

.top-bar.compact {
    height: 60px;
    padding: 0px 15%;
}

.top-bar a {
    color: var(--txt-light-1);
    font-weight: 700;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0px;
    background-color: rgba(27, 27, 27, 0);
    border-radius: 0rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.221);
    position: relative;
}

.menu-wrapper.compact {
    padding: 16px 24px;
    border-radius: 20rem;
    background-color: rgba(181, 181, 181, 0.6);
    border-bottom: none;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}

.menu-wrapper.compact.menu-open {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.menu-wrapper.compact:not(.menu-open) {
}

.menu-wrapper.compact.menu-open {
    border-radius: 2rem 2rem 0rem 0rem;
}

a {
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #fff;
}



.menu-container {
    color: var(--txt-light-1);
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    z-index: 10;
}

.menu-icon-wrapper {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.menu-icon-wrapper.open {
    transform: rotate(90deg);
}

.menu {
    display: flex;
    font-family: ObjectSans;
    gap: 24px;
    margin: 0px 0px;
    position: relative;
    z-index: 10;
}


.menu-item {
    opacity: 0.7;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.menu-item.active,
.menu-item:hover {
    opacity: 1;
    color: var(--txt-light-1);
}

.nav-link {

}

.nav-link:hover {
}



.link {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    white-space: nowrap;
}

.active a {
    color: var(--txt-light-1);
}


.logo {
    font-size: 16px;
    font-weight: 600;
    color: #fff !important;
    opacity: 1 !important;
    margin-bottom:1px;
    position: relative;
    z-index: 10;
}

.logo a {
    color: #fff;
}

.cta-button {
    position: relative;
    z-index: 10;
}


@media (max-width: 768px) {

    .menu {
        align-items: flex-start;
        flex-direction: column;
        gap: 24px
    }

    .top-bar-wrapper {
        position: inherit;
        padding: 0px;
        margin-bottom: 16px;
    }

    .top-bar.compact {
        height: 60px;
        padding: 0px 5%;
    }
}

@media (max-width: 1540px) {
    .top-bar-wrapper {
        padding: 0px;
    }

    .menu-wrapper {
        margin: 0px 0px;
    }
}