.top-bar-wrapper {
    transition: all 0.3s ease;
    /* Плавный переход */
    padding: 0 24px;
    z-index: 999;
    width: 100%;
    background-color: rgba(255, 85, 85, 0.92);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 20px;
    backdrop-filter: blur(16px);
    transform: translateY(16px);
}

#scroll-indicator {
    will-change: transform;
}

#menu {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
}

.menu-dropdown {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    background-color: var(--bg-dark-2);
    padding: 16px;
    border-radius: 1.5rem;
    margin-top: 48px;
    margin-left: -24px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-item.link:hover .menu-dropdown {
    opacity: 1;
    visibility: visible;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    margin: 0px auto;
    transition: all 0.3s ease;
    /* Плавная анимация */
    border-radius: 0.2rem;
    width: 100%;
    height: 100px;
}

.top-bar.compact {
    height: 60px;
    padding: 0px 15%;
}

.top-bar a {
    color: var(--txt-light-1);
    font-weight: 700 !important;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 0px;
    background-color: rgba(27, 27, 27, 0);
    border-radius: 0rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.221);
}

.menu-wrapper.compact {
    padding: 16px 24px;
    backdrop-filter: blur(24px);
    border-radius: 20rem;
    background-color: rgba(181, 181, 181, 0.6);
    border-bottom: none;
}

a {
    font-weight: 700;
    /* color: #b7b7b7; */
    text-decoration: none;
}

a:hover {
    color: #fff;
}



.menu {
    display: flex;
    font-family: ObjectSans;
    gap: 24px;
    margin: 0px 0px;
}


.menu-item {
    align-items: start;
}

.link {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    white-space: nowrap;
}

.active a {
    color: var(--txt-light-1);
}

.active a::before,
.active a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 0% 150%;
    transform: scale3d(1, 2, 1);
    transition: transform 0.5s;
}




.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 100%;
    transform: scale3d(0, 2, 1);
    transition: transform 0.5s;
}

.link::before {
    content: '';
}

.link:hover::before {
    transform-origin: 0% 150%;
    transform: scale3d(1, 2, 1);
}

.logo {
    font-size: 16px;
    font-weight: 500 !important;
    color: #fff !important;
    opacity: 1 !important;
    margin-bottom:1px;
}

.logo a {
    color: #fff;
}


@media (max-width: 768px) {

    .menu {
        align-items: flex-start;
        flex-direction: column;
        gap: 24px
    }

    .top-bar-wrapper {
        position: inherit;
        padding: 0px;
        margin-bottom: 16px;
    }

    .top-bar.compact {
        height: 60px;
        padding: 0px 5%;
    }
}

@media (max-width: 1540px) {
    .top-bar-wrapper {
        padding: 0px;
    }

    .menu-wrapper {
        margin: 0px 0px;
    }
}