.metric2_card{
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (min-width: 360px) {
    .metric2_card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .metric2_above{
        margin: 0px;
        padding-top: 20px;
        font-size: 14px;
    }
  }

.metric2_above{
    margin: 0px;
    padding-top: 20px;
    font-size: 18px;
}
.metric2_main_number{
    font-family: 'Neue Machina Plain', sans-serif;
    font-feature-settings: 'ss12' on, 'liga' off, 'clig' off;
    font-weight: 600;
    margin-top: 20px;
    padding: 0px;
    font-size: clamp(20px, 5vw, 28px);
    line-height: 100%;
}
.metric2_below{
    margin-top: -16px;
    padding: 0px;
    font-size: 18px;
    max-width: 420px;
}


