

.metric1_card{
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (min-width: 360px) {
    .metric1_card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .metric1_above{
        margin: 0px;
        padding-top: 20px;
        font-size: 14px;
    }
  }

.metric1_above{
    margin: 0px;
    padding-top: 20px;
    font-size: 18px;
    border-top: 1px solid var(--div-light-1);
}
.metric1_main_number{
    font-family: 'Neue Machina Plain', sans-serif;
    font-weight: 500;
    letter-spacing: -2px;
    margin-top: 10px;
    padding: 0px;
    font-size: clamp(40px, 5vw, 60px);
    line-height: 100%;
}
.metric1_below{
    margin-top: -20px;
    padding: 0px;
    font-size: 18px;
    max-width: 420px;
}


