

.metric1_card{
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (min-width: 360px) {
    .metric1_card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .metric1_above{
        margin: 0px;
        padding-top: 20px;
        font-size: 14px;
    }
  }

.metric1_above{
    margin: 0px;
    padding-top: 40px;
    font-size: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.585);
}
.metric1_main_number{
    font-family: PP Right Gothic;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    font-size: clamp(48px, 6vw, 80px);
    line-height: 100%;
    color: var(--project-quasar)
}
.metric1_below{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    max-width: 420px;
}


