/* Modal Overlay */
.modal-overlay {
    position: fixed; /* Fixes the modal overlay to the viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(24px);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    z-index: 1000; /* Ensure it overlays other content */
    overflow-y: auto; /* Allow overlay scrolling */
}

/* Modal Dialog */
.dialog {
    border-radius: 1.25rem; /* Rounded corners */
    padding: 0px;
    max-width: 800px; /* Max width for the dialog */
    width: 100%; /* Make it responsive */
    margin-top: 50px; /* Add some space from the top of the screen */
    overflow: hidden;
}


/* Close Button */
.dialog-close-container {
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 1001;

}

.dialog-close{
    border-radius: 999px;
    background: rgba(42, 42, 42, 0.4);
    backdrop-filter: blur(20px);
    padding: 8px;
    position: absolute;
    top: 54px;
    right: 24px;
    transform: rotate(45deg);
}

.dialog-header{
    display: flex;
    min-height: 440px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-position: center 100%;
    background-size: cover;
}

/* Title */
.dialog-title {
    margin: 0;
    font-size: 1.5em;
}

/* Optional Content Styling */
.dialog-content {
    font-size: 18px;
    background-color:var(--bg-dark-3);
    padding: 40px 40px;
}

.dialog-content.noXpadding {
    padding: 40px 0px;
}


.dialog-content p{
    color: var(--txt-light-3);
}

.youtube-player {
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
    display: block;
}