/* Modal Overlay */
.modal-overlay-NDA {
    position: fixed; /* Fixes the modal overlay to the viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(24px);
    display: flex;
    justify-content: center;
    align-items: center; /* Align items to the top */
    z-index: 1000; /* Ensure it overlays other content */
    overflow-y: auto; /* Allow overlay scrolling */
}

/* Modal Dialog */
.dialog-NDA {
    border-radius: 1.25rem; /* Rounded corners */
    padding: 0px;
    max-width: 800px; /* Max width for the dialog */
    width: 100%; /* Make it responsive */
    margin-top: 50px; /* Add some space from the top of the screen */
    overflow: hidden;
}

/* Close Button */
.dialog-close-container-NDA {
    cursor: pointer;
    position: relative;
    top: -380px;
    z-index: 1001;
}

.dialog-close-NDA{
    border-radius: 999px;
    background: rgba(42, 42, 42, 0.4);
    backdrop-filter: blur(20px);
    padding: 8px;
    position: absolute;
    top: 54px;
    right: 24px;
    transform: rotate(45deg);
}

.dialog-header-NDA{
    display: flex;
    min-height: 400px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-position: center 100%;
    background-size: cover;
}

/* Title */
.dialog-title-NDA {
    margin: 0;
    font-size: 1.5em;
}

/* Optional Content Styling */
.dialog-content-NDA {
    font-size: 18px;
    background-color:var(--bg-dark-3);
    padding: 40px 40px;
    text-align: center;
}

.dialog-content-NDA p{
    color: var(--txt-light-3);
}

.btn{
    border-radius: 0px;
    border-top: black 2px solid;
    color: white;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    background-color: var(--bg-dark-2);
    width: auto;
    transition: background-color 0.3s ease;
    font-weight: 700;
    font-size: 18px;
}

.btn:hover{
    background-color: var(--bg-dark-3);
    border-top: black 2px solid;

}

.btn:active{
    background-color: var(--bg-dark-3) !important;
    border: none;
    border-top: black 2px solid !important;
    outline: none;
}