.NDABlock-wrapper{
    background-color: #4D1683;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    overflow:hidden; /*if you want to crop the image*/
    position: relative;
    z-index:1;
    margin-top: 16px;
}

.NDABlock-wrapper::before{
    z-index:-1;
    position:absolute;
    left:0;
    top:0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('/assets/NDABlock-bg.svg');
    opacity:0.1;
}

.NDABlock-description{
    margin-top: 8px;
}