.page-hero-wrapper {
    position: relative;
    overflow: hidden;
    /* width: 100%; */
    padding: 0px;

    margin-top: 160px;
    margin-bottom: 40px;
}

.page-hero-imageWrapper{
}

.page-hero-image {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.page-hero-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0.5) 55%, rgba(123, 27, 27, 0) 105%);
    outline: 4px solid black;
}


/* @media (max-width: 992px) {
    .page-hero-main{
        aspect-ratio: unset;
        height: fit-content;
        padding-top: 80px;
        padding-bottom: 0px;
    }
  } */

  /* @media (min-width: 2560px) {
    .page-hero-main{
        aspect-ratio: 2;
    }
  } */