body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Задаем высоту для html и body */
}


.pd-header{
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pd-title{
    font-size: 72px;
    font-weight: 500;
    color: white;
    /* padding-top: 50vh; */
    max-width: 960px;
    top: 10vh;
}
.pd-description{
    font-size: 24px;
    padding-top: 40px;
    max-width: 960px;
}

li{
    background-color: #333;
    padding: 16px;
    margin: 4px;
}

ul{
    gap: 1;
}

.row-gap-10{
    margin: 0 -10px;
}

.card-gap-10{
    padding: 0 10px;
}

.row-gap-2{
    margin: 0 -2px ;
    row-gap: 0px !important;
}

.card-gap-2{
    padding: 0 2px;
}