body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.row-gap-10{
    margin: 0 -10px;
}

.card-gap-10{
    padding: 0 10px;
}

.row-gap-2{
    margin: 0 -2px ;
    row-gap: 0px !important;
}

.card-gap-2{
    padding: 0 2px;
}