@import './index.css';

.project_card {
    border-radius: 8px;
    overflow: hidden;
    font-family: ObjectSans;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    background-color: var(--bg-dark-3);
    position: relative;
    transition: all 0.3s ease;
}

.coming_soon {
    opacity: 1;
}


.project_image_wrapper {
    overflow: hidden;
}



.project_card:hover {
    background-color: #212121;
    transform: translateY(-5px);
}

.project_card p {
    margin-bottom: 0;
}

.project_card a {
    text-decoration: none;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.project_title {
    font-size: 24px;
    font-weight: 700;
    padding: 24px;
    padding-bottom: 12px;
    color: var(--txt-light-2);
}

.project_description {
    padding: 24px;
    padding-top: 0px;
    font-size: 16px;
    color: var(--txt-light-3);
    font-weight: 500;
}

.project_year {
    font-size: 16px;
    padding-left: 24px;
    padding-bottom: 24px;
    font-weight: 500;
}


.project_image {
    src: './src/assets/desktop_5.jpg';
    width: 100%;

}

a.project_card {
    font-weight: 500;
    color: #d7d7d7;
    text-decoration: none;
}

a.project_card:hover {
    color: #17c22e;
}


.project_header {
    display: none;
}

.project_NDA {
    height: 20px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 10;
}

.d_none {
    display: none !important;
}

.h-100 {
    height: 100%;
}
.nextProject {
    opacity: 1 !important;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nextProjectSubtitle{
    padding: 0px 0px 40px 0px;
}

.procedural-video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}


@media (min-width: 992px) {
    .nextProject .project_description{
        flex-grow: 1;
    }
    .nextProject .titlesWrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .nextProject .project_image_wrapper{
        max-width: 50%;
    }

    .nextProject.project_card a {
        flex-direction: row;
    }
    .nextProject.project_description{
        flex-grow: 1;
    }
}