@import './index.css';

.project_card{
    border-radius: 8px;
    overflow: hidden;
    font-family: ObjectSans;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    background-color:var(--bg-dark-3);

}

.coming_soon{
    opacity: 0.7;
    cursor: default !important;
}


.project_image_wrapper{
    overflow: hidden;
    /* border-radius: 8px; */
}

.project_card img{
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    will-change: transform;

}

.project_card:hover img{
    transform: scale(1.05);
}

.project_card p{
    margin-bottom: 0;
}

.project_card a{
    text-decoration: none;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.project_title{
    font-size: 24px;
    font-weight: 700;
    padding: 24px;
    padding-bottom: 12px;
    color: var(--txt-light-2);
}

.project_description{
    padding: 24px;
    padding-top: 0px;
    font-size: 16px;
    color: var(--txt-light-3);
    font-weight: 500;
}
.project_year{
    font-size: 12px;
}

.project_image {
    src: './src/assets/desktop_5.jpg';
    width: 100%;

}

a.project_card {
    font-weight: 500;
    color: #d7d7d7;
    text-decoration: none;
  }
a.project_card:hover {
    color: #17c22e;
  }