@font-face {
  font-family: 'ObjectSans';
  src: url('/fonts/ObjectSans/PPObjectSans-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ObjectSans';
  src: url('/fonts/ObjectSans/PPObjectSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ObjectSans';
  src: url('/fonts/ObjectSans/PPObjectSans-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ObjectSans';
  src: url('/fonts/ObjectSans/PPObjectSans-Thin.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Migra';
  src: url('/fonts/PPMigra/PPMigra-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Migra';
  src: url('/fonts/PPMigra/PPMigra-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'PP Migra';
  src: url('/fonts/PPMigra/PPMigra-Extralight.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PP Migra';
  src: url('/fonts/PPMigra/PPMigra-Extrabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PP Right Gothic';
  src: url('/fonts/PPRightGothic/PPRightGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PP Right Gothic';
  src: url('/fonts/PPRightGothic/PPRightGothic-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'PP Right Gothic';
  src: url('/fonts/PPRightGothic/PPRightGothic-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Right Gothic Wide';
  src: url('/fonts/PPRightGothic/PPRightGothic-WideFine.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Right Gothic Wide';
  src: url('/fonts/PPRightGothic/PPRightGothic-WideMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Right Gothic Wide';
  src: url('/fonts/PPRightGothic/PPRightGothic-WideBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}




@font-face {
  font-family: 'PP Right Grotesk';
  src: url('/fonts/PPRightGrotesk/PPRightGrotesk-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PP Right Grotesk';
  src: url('/fonts/PPRightGrotesk/PPRightGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Right Grotesk';
  src: url('/fonts/PPRightGrotesk/PPRightGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Neue Machina Inktrap';
  src: url('/fonts/NeueMachinaInktrap/PPNeueMachina-InktrapRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina Inktrap';
  src: url('/fonts/NeueMachinaInktrap/PPNeueMachina-InktrapMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina Inktrap';
  src: url('/fonts/NeueMachinaInktrap/PPNeueMachina-InktrapUltrabold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Neue Machina Plain';
  src: url('/fonts/NeueMachinaPlain/PPNeueMachina-PlainRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina Plain';
  src: url('/fonts/NeueMachinaPlain/PPNeueMachina-PlainMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina Plain';
  src: url('/fonts/NeueMachinaPlain/PPNeueMachina-PlainUltrabold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}