@font-face {
    font-family: 'ObjectSans';
    src: url('/fonts/ObjectSans/PPObjectSans-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ObjectSans';
    src: url('/fonts/ObjectSans/PPObjectSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ObjectSans';
    src: url('/fonts/ObjectSans/PPObjectSans-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ObjectSans';
    src: url('/fonts/ObjectSans/PPObjectSans-Thin.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'PP Migra';
    src: url('/fonts/PPMigra/PPMigra-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'PP Migra';
    src: url('/fonts/PPMigra/PPMigra-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  
  @font-face {
    font-family: 'PP Migra';
    src: url('/fonts/PPMigra/PPMigra-Extralight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'PP Migra';
    src: url('/fonts/PPMigra/PPMigra-Extrabold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }