.video-container {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #2A2A2A;
    justify-content: center;
    border-radius: 0rem;
    padding: 24px 24px;
    justify-self: center;
  }
  
.video-container video{
    max-height: 600px;
    border-radius: .5rem;
}

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Увеличьте размер шрифта по необходимости */
  }
  
  .hidden {
    display: none; /* Скрываем видео, пока оно загружается */
  }
  
  .play-button {
    margin-top: 10px; /* Расстояние между видео и кнопкой */
  }