.menu {
    color: #222;
    width: 100%;
    display: flex;
    padding: 16px 12px;
    border-radius: 999px;
    text-align: start;
    font-family: ObjectSans;
    font-size: 20px;
    font-weight: 700;
    gap: 24px;
}

.menu-item {
    border-bottom: 3px solid #222222;
    min-width: 256px;
    align-items: start;
}